
.monaco-shell{
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Noto Sans,Microsoft YaHei,PingFang SC,Hiragino Sans GB,Source Han Sans SC,Source Han Sans CN,Source Han Sans,sans-serif;
}

#dabeizi-modal{
    color:#333;
}



.am-topbar{
min-height: 35px;
background-color: #252526;
color:#ccc;
width: 100%;
}

.top-line{
    position: absolute;
    left: 0;
    top: 35px;
    height: 1px;
    width: 100%;
    border-top:1px solid #333;
    z-index: 10;

}

.enter_link{
    width: 100%;    
}

input#enter_link{
    color:#eee;
    font-size: 14px;
    outline: none;
}

.am-form-inline .am-form-field {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #333;
    color:#ccc;
    border:none;
    /* border-bottom:1px solid #444; */
    
  }

#enter-link-layout{
    margin: 0;
    padding-top: 3px;
    margin-left:232px;
    padding-right:10px;
}

.topbar-btn-login{
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: 55px;
    height: 35px;
    line-height: 35px;
    background-color: #252526;
    border-color: #252526;
    color: #999;
}

.am-topbar-right{
    margin-right: 0px;
}



.am-topbar-brand{
    height: 35px;
    width: 99px;
    line-height: 35px;
}
.am-nav-pills{
    width: 133px;
}

.am-topbar-brand a:hover {
    color: #eee;
    background-color: #252526;
}

.am-nav > li > a:hover,
.am-nav > li > a:focus {
  text-decoration: none;
  color: #eee;
  background-color: #333;
}

.am-nav-pills > li + li {
    margin-left: 0px;
    margin-top: 0;
  }

  .am-nav-pills > li >a {
      font-size: 16px;
  }


.am-topbar-vline{
    border-left:1px solid #666;
    height:18px;
    margin: 0 2px;
    overflow: hidden;
    display:inline-block;
}

.am-topbar-form{
    padding: 0;
    margin: 0;   
}



.am-topbar-nav > li > a:hover {
    color: #eee;
}


@media only screen and (min-width:641px) {
    .am-topbar-nav {
      float: left;
    }
    .am-topbar-nav > li > a {
      position: relative;
      line-height: 35px;
      padding: 0 10px;
    }
    .am-topbar-nav > li > a:after {
      position: absolute;
      left: 50%;
      margin-left: -7px;
      bottom: -1px;
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle;
      border-bottom: 7px solid #f8f8f8;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      border-top: 0 dotted;
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      -webkit-transition: opacity .1s;
      transition: opacity .1s;

      border:none;
    }
    .am-topbar-nav > li > a:hover:after {
      opacity: 1;
      border-bottom-color: #666;
    }
    .am-topbar-nav > li.am-dropdown > a:after {
      display: none;
    }
    .am-topbar-nav > li.am-active > a,
    .am-topbar-nav > li.am-active > a:hover,
    .am-topbar-nav > li.am-active > a:focus {
      border-radius: 0;
      color: #0e90d2;
      background: none;
    }
    .am-topbar-nav > li.am-active > a:after {
      opacity: 1;
      border-bottom-color: #0e90d2;
    }
  }



  /* tabs */
  .add_new_tab{
      padding-right: 10px;

  }

  

  .monaco-icon-label-description-container{
      padding-left: 5px;      
  }
  .tab{
      user-select:none;
      outline: none;
      outline-color:#252526;
}

.monaco-shell [tabindex="0"]:focus{
    outline: none;
      outline-color:#252526;
}
  
  .monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title.active .tabs-container>.tab.active
  {
    
    border-left-color: rgb(37, 37, 38); 
    border-right-color: rgb(37, 37, 38);
    background-color: rgb(30, 30, 30);
    border-top-width: 2px;
    border-top-color:#007acc;border-top-width:2px;
    font-weight: bold;
    color:white;
    
  }

  .tab .italic{      
      color:rgba(255, 255, 255, 0.5);
  }

  .monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title.active .tabs-container>.tab.active >.tab-close a.close-editor-action {
    opacity: 0.5;
  }


  /* section 默认关闭 */
  .web-section{
      visibility: hidden;
      display: none;
      width: 100%;
      height: 100%;
      /* 不显示 */
  }

  .web-section.active-section{
      visibility: visible;
      display: block;
  }
